media="all"

body{
	font-family:Roboto, Helvetica, Arial,sans-serif;
	padding-top: 128px;
}



h2 {
	text-align: left;
	color:blue;
	font:Roboto;
}

/*header hides on scoll up, shows on scroll down*/
header {
    position: fixed;
}

.nav-up {
    top: -128px;
}

.info-left {
	padding-left: 0px;
	margin-bottom: 0px;
}

.info-left li {
	display: inline-block;
	padding: 8px;
	margin-bottom: 0px;

}

.info-left p{
	color: rgb(255,255,255);
	margin:0px;
}

.social-media li{
	float: right;
	display: inline-block;
	padding: 8px;

}

@media only screen and (max-width:768px){
    .col-sm-8{
    	width:70%;
}
}

@media only screen and (max-width:768px){
    .col-sm-4{
    	width:30%;
}
}

@media only screen and (max-width:992px){
    #info-wrap{
    	width:100%;
}
}



@media only screen and (max-width:992px){
    .left-side{
    	width:66.67%;
}
}

@media only screen and (max-width:992px){
    .nav{
    	float:right;
    	margin-right:15px;
}
}


@media only screen and (max-width: 480px){
    .info-left p {
		padding: 8px;
		margin-bottom: 0px;
		text-align: center;
		}
}

@media only screen and (max-width:480px){
    .social-media{
        display: ;
		padding: 8px;
		margin: auto;
		text-align: center;
		}
}

#info-wrap {
	display:block;
	background-color: #337ab7;
	border-bottom: 1px solid #eee;
	border-radius:0;
	top:0;
	line-height: 20px;
	padding-top: 0px;
	padding-bottom: 0px;

}

/*navbar */
#navbar-wrap {
	background-image: url(bg.jpg);
}

#tablist{
	margin-bottom: 0px;
	margin-top: 25px;
	float: right;
}


.logo #logo{
	margin-top: 0px
	margin-bottom:0px;
}

.custom-pills a:hover{
  background-color: #eeeeee;
  border-radius: 5px; 
}

.custom-pills .active{
	background-color: #337ab7;
  border-radius: 5px; 
}


/*placeholder------------------------------*/
.placeholder {
	height:129px;
}

@media only screen and (max-width:992px){
    .placeholder {
	height:128px;
}
}

@media only screen and (max-width: 480px){
    .placeholder {
	height:298px;
}
}

/* bootstrap carousel width and height---------*/
.tales {
	 width: 100%;
}

.carousel-inner{
  width:100%;
  max-height: 700px !important;
}

.carousel .container {
      position: relative;
      z-index: 9;
}

.carousel-caption {
      max-width: 550px;
    
      margin-top: 200px;
}

.carousel-caption h3{
      font-size: 50px;
}

.center {
	margin:0 auto
}

.text-center{
	text-align:center;
}

.carousel-control {
	position: absolute;
    top: 45%;
    z-index: 5;
    margin-top: 0;
    font-size: 120px;
    text-shadow: 0 1px 1px rgba(51,116,172,.4);      
	width:60px;
	height:60px;
	border: 2px solid white;
	border-radius: 5px;    
    }

 .carousel-control.left {
 	background-image:none;/*fixed*/
	margin-left: 40px;
} 

 .carousel-control.right {
 	background-image:none;/*fixed*/
 	margin-right: 40px;
 }



.carousel-control:hover{
	background-color: #337ab7;
	border:none;
}

		

.carousel-inner > .item > a > img {
    width: 100%!important;
    margin: auto;
}

.carousel-control .glyphicon {
	position: absolute;
    top: 30%;
    z-index: 5;
    font-size: 20%;
   }

.carousel-control .glyphicon-menu-left {
       margin-left: -10px;
      }

.carousel-control .glyphicon-menu-right {
        margin: 0 -10px;
      }

@media only screen and (max-width:992px){
    .carousel-control {
	    top: 20%;
}
}

@media only screen and (max-width: 992px){
   .carousel-inner{
  width:100%;
  height: 380px;
}
}



@media only screen and (max-width:992px){
    .carousel-indicators {
	    top: 45%;
}
}


@media only screen and (max-width:768px){
    .carousel-indicators {
	    top: 33%;
}
}

@media only screen and (max-width:768px){
    .carousel-caption {
	    padding-bottom: 0px;
}
}

@media only screen and (max-width:768px){
		.carousel-control {
	    top: 13%;
}
}

@media only screen and (max-width: 480px){
   .carousel-inner > .item > a > img {
   height: 380px;
   overflow: hidden;
}
}
/*title-wrapper portfolio---------------------------------*/
#title-wrap {
	height: 250px;
	/*background-color: #fafafa;*/
}

#title-wrap img{
	height: 100px;
    width: 100px;
    display: block;
    margin: 60px auto;
    margin-bottom: 0px;
}

#title-wrap h2{
	text-align: center;
	color: #337ab7;
	position:relative;
	top: -40%;
	
}

#title-wrap p{
	text-align: center;
}

/*portfolio photo gallery-----------------*/
/* The Image Box */
.photo-gallery {
  padding-bottom: 120px;
}

div.img {
    border: 1px solid #ccc;
}

div.img:hover {
    border: 1px solid #337ab7;
}

/* The Image */
div.img img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

/* Description of Image */
div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

/* Add Responsiveness */
.responsive {
    float: left;
    width: 33.3%;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0.1)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 100px;
    right: 29%;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: lighter;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Responsive Columns */
@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
    .modal-content {
        width: 100%;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

/* Clear Floats */
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/*sticky footer--------------------------------*/

* {
    margin: 0;
}

html, body {
    height: 100%;
}

#footer-wrap {
	border-top: 6px solid #337ab7;
}

.page-wrap {
  min-height: 100%; 
  margin-bottom: -200px;  /* equal to footer height */
}

.page-wrap:after {
  content: "";
  display: block;
}

#footer-wrap, .page-wrap:after{
	height: 200px;
}

#footer-wrap .container{
	margin-top: 40px;
}

.blue {
	color:#337ab7;
}

.bold {
	font-weight: bold;
}


/* contact page*/
.profile {
	height:180px;
	width:auto;
	border:10px solid #337ab7;
	margin-bottom: 20px;
}

#intro {
	margin-top: 50px;
}

#leave-a-message {
	padding-top: 50px;
	padding-bottom: 100px;
	width: 790px;
  margin: 0 auto;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
   	border: 2px solid #337ab7;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    outline: none;
}

input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #337ab7;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    outline: none;
}

input[type=submit] {
    background-color: #337ab7;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #337ab7;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

input:hover, textarea:hover{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
 -webkit-box-shadow: 0px 0px 8px 0px #337ab7;
-moz-box-shadow:    0px 0px 8px 0px #337ab7;
box-shadow:         0px 0px 8px 0px #337ab7;
}
/*
http://stackoverflow.com/questions/25685794/css-image-border-glow-when-hover-with-individual-color
*/

/*video*/
iframe {
  width:100%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.video p{
  margin-bottom: 50px;
}