<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"  />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Vienna (Qinying) Li</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrit="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="static/script.js"></script>
	<script type="text/javascript" src="processing.js"></script>

	 <link rel="stylesheet" type="text/css" href="static/style.css"/>
	 <!--set favicon-->
	 <link rel="shortcut icon" href="static/icon.png">
</head>


<body>
	<!--<div id="page-wrapper" class="page_content" style="height:auto;"-->

		<header id="header" class="navbar-fixed-top" > <!--bootstrap-->
				<div id="info-wrap">
					<div class="container">
						<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
							<ul class="info-left">
								<li>
									<p><img src = "static/email.png" alt="email" width="12"/>
										qinyingl@umich.edu</p>
								</li>
								<li>
									<p><img src = "static/phone.png" alt="phone" width="12"/>
										734 239 4518</p>
								</li>
								<li>
									<p><img src = "static/add.png" alt="address" width="12"/>
										Ann Arbor, MI 48105</p>
								</li>
							</ul>
						</div> 
						<div class="col-sm-4 col-xs-12">
							<ul class="social-media">
								<li><a href="https://www.linkedin.com/in/qinying-li-277522b6?trk=hp-identity-photo">
								<img src = "static/linkedin.png" alt="linkedin" width="20"/></a>
								</li>
								<li><a href="https://www.linkedin.com/in/qinying-li-277522b6?trk=hp-identity-photo">
								<img src = "static/fb.png" alt="facebook" width="20"/></a>
								</li>								
							</ul>
						</div>
					</div>
				</div >

				<div id="navbar-wrap">
					<div class="container">
						<div class="left-side">
							<div class="col-sm-4">
								<h1 class="logo" id="logo">
										<img class="non-transparent" src="static/logo.png" width="180" height="60" alt="Vienna Li"/>
								</h1> 
							</div>
						</div>
						<div >
							<ul class="nav nav-pills custom-pills" id="tablist"> <!--bootstrap-->
								<li {% if title == "HOME"%} class = "active" {% endif %}><a href = "index.html">HOME</a></li>
								<li {% if title == "SELECTEDWORKS"%} class = "active" {% endif %}><a href="/index.html#title-wrap"> SELECTED WORKS</a></li>
								<li {% if title == "VIDEO"%} class = "active" {% endif %}><a href = "video.html">VIDEO</a></li>
								<li  {% if title == "RESUME"%} class = "active" {% endif %}><a href = "resume.html">RESUME</a></li>
								<li {% if title == "CONTACT"%} class = "active" {% endif %}><a href = "contact.html">CONTACT</a></li>
								
							</ul>
						</div>	
					</div>
				</div>		
		</header>
   

  

    <div class='page-wrap'>
	{% block content %}	
	I should never see this content.  It should be replaced.
	{% endblock %}
	</div>

	<footer>
		<div id='footer-wrap'>
			<div class='container topline' >
				<p class='blue'>Thank you for stopping by :)</P>
				<p>I am Vienna Qinying Li, a master student of architecture from <a class="bold" href="https://www.umich.edu/"> University of Michigan Ann Arbor</a>.</p>
				<p><a class="bold" href='mailto:qinyingl@umich.edu'>Drop me a line</a> if you are interested.</p>
				<p>Copyright &copy; Vienna Qinying Li </p>
			</div>
		</div>
	</footer>
	
</body>
</html>