{%extends "templates/base.html" %}

{% block content %}
 <div class="placeholder">
 </div>

<div class="text-center" id="intro">

<img class="profile img-circle" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAANsAAAAJGYyYjFhNGVjLTE5YzctNDlhZi1hZjUyLTVlNWRkNDg4NzIzMA.jpg"/>

<p >
		I am Vienna Qinying Li, a master student of architecture from University of Michigan Ann Arbor.
</p>
<p>
		I am actively looking for a full-time architectural designer position in New York City.
</p> 
<p>
	<br>
	<br>
	<a class="bold" href='mailto:qinyingl@umich.edu'>Drop me a line</a> if you are interested in hiring me!
</p>
</div>

<div class="form" id="leave-a-message">
	<form class="center text-center" action="action_page.php" method="get">
	<!--The action attribute defines the action to be performed when the form is submitted.-->
	  <label>NAME:</label>
	  <input type="text" name="name">
	  <br>
	  <br>
	  <label>EMAIL:</label>
	  <input type="text" name="email">
	  <br><br>
	  <label>MESSAGE:</label>
	  <textarea name="message">Hello...</textarea>
	  <br><br>
  	  <input type="submit" value="Submit">
	</form>
</div>
{% endblock %}