{% extends "templates/base.html" %}
 
{% block nav %}	

{% endblock %}

{% block content %} 
<!-- carousel -->
	
  <div class="placeholder">
  </div>

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <!--<li data-target="#myCarousel" data-slide-to="3"></li>-->
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item active">
        <a href="https://www.linkedin.com/in/qinying-li-277522b6?trk=hp-identity-photo"> <!--should be replaced with individual project link-->
          <img src = "static/kerrytown court - carousel.jpg" alt="Kerrytown Court" class: "tales" /></a><!--to be replaced-->
        <div class="container">
          <div class="carousel-caption">
            <h3 class="sansserif">Kerrytown Court</h3>
            <p>A residential design in Ann Arbor historic region</p>
          </div>
        </div>
      </div>

         <div class="item">
         <a href="https://www.linkedin.com/in/qinying-li-277522b6?trk=hp-identity-photo"> <!--to be replaced-->
        <img src="static/crumple-carousel.jpg" alt="Crumple" class: "tales"/></a>
        <div class="carousel-caption">
          <h3 class="sansserif">Crumple</h3>
          <p>Artificial Geo-texture</p>
        </div>
      </div>
    
      <div class="item">
         <a href="https://www.linkedin.com/in/qinying-li-277522b6?trk=hp-identity-photo"> <!--to be replaced-->
        <img src="static/DTE park-carousel.jpg" alt="DTE park" class: "tales"/></a>
        <div class="carousel-caption">
          <h3 class="sansserif">DTE park</h3>
          <p>professional work at inFORM studio</p>
        </div>
      </div>

        <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
   
  </div>
</div>


<div class="portfolio">
	 <br>
   <br>
   <br>
   <!--portfolio photo gallery-->

 <div id="title-wrapper">
  <p class="icon"> <img src="static/icon.png" alt="icon" width="20" height="20"/></p>
  <p class="circle"> <img src="static/icon.png" alt="icon" width="20" height="20"/></p>
  <h2>Selected Work</h2>
</div>
  <div class="responsive">
    <div class="img">
      <a target="_blank" href="#"> <!--to be replaced with individual project page-->
        <img src="static/kerrytown court.jpg" alt="kerrytown court" width="400" height="200">
      </a>
      <div class="desc">kerrytown court</div>
    </div>
  </div>


  <div class="responsive">
    <div class="img">
      <a target="_blank" href="#"> <!--to be replaced with individual project page-->
        <img src="static/kerrytown court.jpg" alt="kerrytown court" width="400" height="200">
      </a>
      <div class="desc">Add a description of the image here</div>
    </div>
  </div>

  <div class="responsive">
    <div class="img">
       <a target="_blank" href="#"> <!--to be replaced with individual project page-->
        <img src="static/kerrytown court.jpg" alt="kerrytown court" width="400" height="200">
      </a>
      <div class="desc">Add a description of the image here</div>
    </div>
  </div>

  <div class="responsive">
    <div class="img">
       <a target="_blank" href="#"> <!--to be replaced with individual project page-->
        <img src="static/kerrytown court.jpg" alt="kerrytown court" width="400" height="200">
      </a>
      <div class="desc">Add a description of the image here</div>
    </div>
</div>

<div class="clearfix"></div>





    <div class="row">
      <div class='col-sx-4 col-xs-12 portfolio' data-filter="UX">
        <a href="https://www.linkedin.com/in/qinying-li-277522b6?trk=hp-identity-photo">
          <img src = "static/AQI.jpg" class="img-responsive" alt = "AQI Monitor" width="800"/>
        </a>
		    <a href="#" class="thumbnail">
            <<img src = "static/kerrytown court.jpg" alt = "Residential Design" width="800"/>
        </a>
        <a href="#" class="thumbnail">
          <img src = "static/highrise.jpg" alt = "High Rise Office Building" width="800"/>
        </a>
        <a href="#" class="thumbnail">
          <img src = "static/AQI.jpg" alt = "AQI Monitor" width="800"/>
        </a>
        <a href="#" class="thumbnail">
          <img src = "static/AQI.jpg" alt = "AQI Monitor" width="800"/>
        </a><a href="#" class="thumbnail">
          <img src = "static/AQI.jpg" alt = "AQI Monitor" width="800"/>
        </a><a href="#" class="thumbnail">
          <img src = "static/AQI.jpg" alt = "AQI Monitor" width="800"/>
        </a><a href="#" class="thumbnail">
          <img src = "static/AQI.jpg" alt = "AQI Monitor" width="800"/>
        </a><a href="#" class="thumbnail">
          <img src = "static/AQI.jpg" alt = "AQI Monitor" width="800"/>
        </a>
        </a><a href="#" class="thumbnail">
          <img src = "static/AQI.jpg" alt = "AQI Monitor" width="800"/>
        </a>
	
			<!-- <img src="/i/ct_1px.gif" width="60%" height="30px" /> the width and height of the img will stay the same. -->
			Here is a link to my <a href = "https://www.linkedin.com/in/qinying-li-277522b6?trk=hp-identity-photo">Linkedin webpage</a>.
	   </div>
   </div>

</div>
{%endblock%}