{%extends "templates/base.html" %}


{% block content %}
	 <div class="placeholder">
  </div>

	<p class="text-center">
		<img class='container'src = "static/resume.jpg" alt = "resume"/> 
		<br>This is Vienna's resume. 
	</p>
	<p class="text-center"> Learn more about me in <a href="https://www.linkedin.com/in/qinying-li-277522b6?trk=hp-identity-photo">linkedin</a>.</p>

	<p class='container text-center'>
	<a  href="static/resume.jpg" download>
  <input type="submit" value="Download">
</a>
</p>
	<br>
	<br>
	<br>
	{% endblock %}