{%extends "templates/base.html" %}

{% block nav %}	
<!--<ul class="nav nav-pills" id="tablist">
	<li><a href = "index.html">PORTFOLIO</a></li>
	<li class="active"><a href = "resume.html">RESUME</a></li>
	<li><a href = "contact.html">CONTACT</a></li>
	<li><a href = "login.html">LOGIN</a></li>
</ul>
-->
{% endblock %}

{% block content %}
	<br>
  <br>
  <br>
  <br>
  <br>
  <br>
   <br>
	<p>
		<img src = "static/resume.jpg" alt = "resume" width="800"/> 
		<br>This page is my resume.  
	</p>
	{% endblock %}