{%extends "templates/base.html" %}

{% block content %}
 <div class="placeholder">
 </div>

<div id="title-wrap">
  <div class="icon.center">
    <img class="hover-color" id="myImage" src="static/brain.png" alt="icon"/>
    <h2>Video Tour</h2>
    <p>architecture/audrino design</p>

  </div>
</div>
<div class="video center container">
<iframe class='video-center' src="https://player.vimeo.com/video/144153565" width="500" height="246" allowfullscreen></iframe>
<p class="text-center"><a href="https://vimeo.com/144153565">Glowing Surface: Tour inside a mylar shell</a> </p>

<iframe src="https://player.vimeo.com/video/144152245" width="500" height="281"   allowfullscreen></iframe>
<p class="text-center"><a href="https://vimeo.com/144152245">Mylar Pillow</a> </p>

<iframe src="https://player.vimeo.com/video/134586206" width="500" height="302"  allowfullscreen></iframe>
<p class="text-center"><a href="https://vimeo.com/134586206">Processing Application: Air Quality Index Monitor (China)</a></p>
<br><br><br>
</div>
{% endblock %}